* {
    margin: 0;
    padding: 0;
    outline: 0;
}

::selection {
    background-color: rgba(255,255,255,.15);
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #0f0f0f;
}

.form {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
/*  border: 1px solid #5f5f5f;*/
    border-radius: 5px;
    width: 30rem;
    height: 50rem;
}

.exit-link {
    text-decoration: none;
    float: right;
    text-align: right;
    margin: 1rem 2rem;
    font-size: 3rem;
    font-weight: 700;
    color: transparent;
    background-image: linear-gradient(to right, #14fcdf, #cf21ff);
    -webkit-background-clip: text;
    transition: color .3s ease-out;
}

.exit-link:hover {
    color: rgba(255,105,155,.3);
}

h2 {
    position: absolute;
    z-index: 3;
    width: 100%;
    top: 7rem;
    text-align: center;
    display: block;
    color: transparent;;
    font-size: 2rem;
    letter-spacing: 2px;
    font-family: "Segoe UI", sans-serif;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #14fcdf, #cf21ff);
    -webkit-background-clip: text;
    transition: all .3s ease-out;
}

.form__fields {
    position: relative;
    padding: 3rem 0;
    width: 100%;
    height: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    align-content: center;
    flex-direction: column;
}

.name, .email {
    position: relative;
    height: 3rem;
    width: 80%;
    margin: 2rem auto;
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    padding: .5rem;
    font-family: "Segoe UI", sans-serif;
    font-weight: 400;
    color: #e5e5e5;
    letter-spacing: 2px;
    border-bottom: 3px solid #555;
    z-index: 1;
    transition: all .3s ease-out;
}

.name:focus, .email:focus {
    transform: scale(1.01);
    border-bottom: 3px solid #cf21ff;
    box-shadow: 0px 3.5px 10px #cf21ff;
    color: #ddd;
}

.name:focus:valid, .email:focus:valid {
    border-bottom: 3px solid #14fcdf;
    box-shadow: 0px 3.5px 10px #14fcdf;
}

.form__fields-label {
    color: #ddd;
    text-align: left;
    width: 75%;
    margin: 0 auto;
    font-family: "Segoe UI", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: lighter;
    font-size: 1.05rem;
    transform: translateY(-5rem);
}

.name-label {
    transform: translateY(0rem);
}

.email-label {
    transform: translateY(0rem);
}

.form__button {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 34.6rem; left: 50%;
    transform: translate(-50%, -50%);
    backface-visibility: hidden;
    overflow: hidden;
}

.button__link:link {
    text-align: center;
    display: block;
    box-sizing: border-box;
    width: 23rem;
    padding: 1.5rem;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.2rem;
    text-transform: uppercase;
    text-decoration: none;
    color: transparent;
    font-family: "Segoe UI", sans-serif;
    font-weight: bold;
    -webkit-background-clip: text;
    z-index: 2;
}

.button__link::before {
    position: absolute;
    top: 0; left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #14fcdf, #cf21ff);
    border-radius: 5px;
    z-index: -3;
}

.button__link::after {
    position: absolute;
    margin: .25rem 2.4px;
    content: "";
    border-radius: 5px;
    width: 22.5rem;
    height: 90%;
    background-color: #0f0f0f;
    top: 0; left: 0;
    z-index: -2;
}

.button__link-text {
    position: relative;
    color: transparent;
    background-image: linear-gradient(to right, #14fcdf, #cf21ff);
    -webkit-background-clip: text;
}